numpy>=2.3.0
pandas>=2.3.0
rasterio>=1.4.0
scikit-learn>=1.7.0
matplotlib>=3.10.0
seaborn>=0.13.0
pytest>=8.0.0  # for testing
sphinx>=7.2.0  # for documentation
jupyter>=1.0.0  # for example notebooks
geopandas>=0.9.0
joblib>=1.0.1
xgboost>=1.4.2
scipy>=1.7.0 